<ul>
	<li *ngFor="let tree of data">{{tree.name}}
		<button (click)="onAddSection()">Add</button>

		<div *ngIf="tree.children">
			<ul>
				<li *ngFor="let node of tree.children; let i = index">
					<ng-template 
						*ngIf="isEditMode else readMode" 
						[ngTemplateOutlet]="onEditSection(1, '4')"
						[ngTemplateOutletContext]="{ $implicit: 1}">
					</ng-template>

					


					<div *ngIf="node.children">
						<ul>
							<li *ngFor="let n of node.children; let j = index">{{n.name + i+"."+j}}
								<button (click)="onDeleteSubSection(i, j)">Delete</button>
								<button (click)="onEditSubSection(i, j, 'новое имя')">Edit</button>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</li>
</ul>